@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}


input, 
button, 
textarea{
    font:inherit;
}
/* VARIABLES */


/* UTILITY */

.offscreen{
    position: absolute;
    left: -10000px;
}

.nowrap{
    white-space: nowrap;
}

.center{
    display: flex;
    justify-content: center;
    text-align: center;
}

/* GENERAL STYLES */

html{
    font-family: 'Nunito', sans-serif;
    font-size: clamp(1rem, 2.2vh, 1.5rem);
    scroll-behavior: smooth;
    background-image: radial-gradient(white,black),url('../img/background.jpg');
    background-blend-mode:multiply;
    background-size: cover;
}

body{
    background-image: linear-gradient(#1B998B,whitesmoke);
    min-height: 100vh;
    display: grid;
    grid-template-rows: 2fr 8fr 1fr;
    max-width: 800px;
    margin: 0 auto;
    border-left: 2px solid black;
    border-right: 2px solid black;
    box-shadow: 0 0 20px black;
}

nav{
    background-color: whitesmoke;
    border-bottom: 2px solid black;
    box-shadow: 0 0 10px black;
}

p{
    margin: 5px;
    padding: 5px;
    text-indent: 2rem;
}

button{
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: whitesmoke;
    border: none;
    cursor: pointer;
}

button:active{
    color:#999;
}

.LF{
    font-size: x-large;
}

a:any-link{
    color: black;
    font-weight: bolder;
    text-decoration: none;
}
a:hover{
    color: #333;
}

a:active{
    color: #666;
}

.navLi{
    margin: 5px;
    padding: 5px;
}

.ul{
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.h1{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    background-color: black;
}

.h2{
    text-align: center;
    padding-top: 1rem;
    margin-top: 1rem;
}

.main{
    display: flex;
    flex-flow: column nowrap;
}

.footer{
    position: sticky;
    margin-top: auto;
    display: flex;
    justify-content: center;
    background-color: black;
    color: whitesmoke;
}

.appsArticle{
    display: grid;
    margin-top: 2rem;
    padding-top: 2rem;
    grid-template-columns: auto auto;
}

.appsSection{
    display: flex;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
}

.calcBody{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #222;
    width: clamp(320px, 25vw, 500px);
    height: clamp(500px, 47vw, 750px);
    border-radius: 2.5%;
}

.calcDisplay{
    position: absolute;
    background-color: #333;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: end;
    text-align: center;
    width: clamp(300px, 23vw, 480px);
    height: clamp(150px, 15vw, 250px);
    padding: 2px;
    margin: 10px;
    border-radius: 2.5%;
}

.calcDisplayPrevious{
    padding: 0px;
    padding-right: 5px;
    margin: 0px;
    color: whitesmoke;
}


.calcDisplayInputNumber{
    padding: 0px;
    padding-right: 5px;
    margin: 0px;
    font-size: 2rem;
    color: whitesmoke;
}

.calcButtonGrid{
    position: absolute;
    top: clamp(160px, 16vw, 260px);
    display: grid;
    width: clamp(300px, 23vw, 480px);
    height: auto;
    border-radius: 2.5%;
    grid-template-columns: auto auto auto auto;
}
.calcButton{
    display: flex;
    justify-content: center;
    background-color: #444;
    width: clamp(70px, 5vw, 115px);
    height: clamp(60px, 4vw, 100px);
    padding: 2.5px;
    margin: 2.5px;
    border-radius: 10%;
}

